@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter';
    font-style: thin;
    font-weight: 100;
    font-display: swap;
    src: url('/public/fonts/Inter-Thin.ttf') format('ttf');
  }
  @font-face {
    font-family: 'Inter';
    font-style: extra-light;
    font-weight: 200;
    font-display: swap;
    src: url('/public/fonts/Inter-ExtraLight.ttf') format('ttf');
  }
  @font-face {
    font-family: 'Inter';
    font-style: light;
    font-weight: 300;
    font-display: swap;
    src: url('/public/fonts/Inter-Light.ttf') format('ttf');
  }
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/public/fonts/Inter-Regular.ttf') format('ttf');
  }
  @font-face {
    font-family: 'Inter';
    font-style: medium;
    font-weight: 500;
    font-display: swap;
    src: url('/public/fonts/Inter-Medium.ttf') format('ttf');
  }
  @font-face {
    font-family: 'Inter';
    font-style: semi-bold;
    font-weight: 600;
    font-display: swap;
    src: url('/public/fonts/Inter-SemiBold.ttf') format('ttf');
  }
  @font-face {
    font-family: 'Inter';
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    src: url('/public/fonts/Inter-Bold.ttf') format('ttf');
  }
  @font-face {
    font-family: 'Inter';
    font-style: extra-bold;
    font-weight: 800;
    font-display: swap;
    src: url('/public/fonts/Inter-ExtraBold.ttf') format('ttf');
  }
}

@layer components {
  ::file-selector-button {
    @apply text-gray-800 bg-gray-300 hover:bg-gray-200
      font-medium text-sm cursor-pointer
      border-0 border-r border-solid border-gray-300
      py-2.5 pl-8 pr-4;
    margin-inline-start: -1rem;
    margin-inline-end: 1rem;
  }

  ::-webkit-file-upload-button {
    @apply text-gray-800 bg-gray-300 hover:bg-gray-200
      font-medium text-sm cursor-pointer
      border-0 border-r border-solid border-gray-300
      py-2.5 pl-8 pr-4;
    margin-inline-start: -1rem;
    margin-inline-end: 1rem;
  }
}

[x-cloak] {
  display: none !important;
}
