@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter';
    font-style: thin;
    font-weight: 100;
    font-display: swap;
    src: url('/public/fonts/Inter-Thin.ttf') format('ttf');
  }
  @font-face {
    font-family: 'Inter';
    font-style: extra-light;
    font-weight: 200;
    font-display: swap;
    src: url('/public/fonts/Inter-ExtraLight.ttf') format('ttf');
  }
  @font-face {
    font-family: 'Inter';
    font-style: light;
    font-weight: 300;
    font-display: swap;
    src: url('/public/fonts/Inter-Light.ttf') format('ttf');
  }
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/public/fonts/Inter-Regular.ttf') format('ttf');
  }
  @font-face {
    font-family: 'Inter';
    font-style: medium;
    font-weight: 500;
    font-display: swap;
    src: url('/public/fonts/Inter-Medium.ttf') format('ttf');
  }
  @font-face {
    font-family: 'Inter';
    font-style: semi-bold;
    font-weight: 600;
    font-display: swap;
    src: url('/public/fonts/Inter-SemiBold.ttf') format('ttf');
  }
  @font-face {
    font-family: 'Inter';
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    src: url('/public/fonts/Inter-Bold.ttf') format('ttf');
  }
  @font-face {
    font-family: 'Inter';
    font-style: extra-bold;
    font-weight: 800;
    font-display: swap;
    src: url('/public/fonts/Inter-ExtraBold.ttf') format('ttf');
  }

  .trix-content {
    @apply w-full px-4 py-2 bg-white border-gray-300 rounded-lg focus:border-blue-600 focus:border-2;
  }

  .trix-content:empty::before {
    content: attr(placeholder);
    @apply text-gray-500;
  }

  .trix-content h1 {
    font-size: 1.25rem !important;
    line-height: 1.25rem !important;
    @apply mb-4 font-semibold leading-5;
  }

  .trix-content a:not(.no-underline) {
    @apply underline;
  }

  .trix-content ul {
    @apply pl-6 list-disc;
  }

  .trix-content ol {
    @apply pl-6 list-decimal;
  }

  .trix-content img {
    margin: 0 auto;
  }
}

@layer components {
  ::file-selector-button {
    @apply text-gray-800 bg-gray-300 hover:bg-gray-200
      font-medium text-sm cursor-pointer
      border-0 border-r border-solid border-gray-300
      py-2.5 pl-8 pr-4;
    margin-inline-start: -1rem;
    margin-inline-end: 1rem;
  }

  ::-webkit-file-upload-button {
    @apply text-gray-800 bg-gray-300 hover:bg-gray-200
      font-medium text-sm cursor-pointer
      border-0 border-r border-solid border-gray-300
      py-2.5 pl-8 pr-4;
    margin-inline-start: -1rem;
    margin-inline-end: 1rem;
  }
}

[x-cloak] {
  display: none !important;
}

.trix-content .attachment-gallery > .attachment,
.trix-content .attachment-gallery > rich-text-attachment {
  flex: 1 0 33%;
  padding: 0 0.5em;
  max-width: 33%;
}

.trix-content .attachment-gallery.attachment-gallery--2 > .attachment,
.trix-content .attachment-gallery.attachment-gallery--2 > rich-text-attachment,
.trix-content .attachment-gallery.attachment-gallery--4 > .attachment,
.trix-content .attachment-gallery.attachment-gallery--4 > rich-text-attachment {
  flex-basis: 50%;
  max-width: 50%;
}

.trix-content rich-text-attachment .attachment {
  padding: 0 !important;
  max-width: 100% !important;
}

trix-toolbar .trix-button-row [data-trix-button-group='file-tools'] {
  display: none;
}
